
<app-sidebar></app-sidebar>

  <!-- Navbar -->
  <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Admin Template</a>
  
    </div>
  </nav> -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <!-- Left-aligned content -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Admin Template</a>
      </div>

  
      <!-- Left-aligned logout button -->
      <div class="navbar-left">
        <button class="btn btn-danger" (click)="logout()">Logout</button>
      </div>
    </div>
  </nav>
  
  
 
